@font-face {
	font-family: Circular;
	src: url(fonts/CircularStd-Book.otf);
}

@font-face {
	font-family: Circular-Bold;
	src: url(fonts/CircularStd-Bold.otf);
}

* {
	margin: 0;
	font-family: Circular, sans-serif;
}

body {
	background-color: #fff8e8;
}

article {
	margin-bottom: 1cm;
}

a, .no-type li {
	text-decoration: none;
	cursor: pointer;
}

footer {
	background-color: lightgray;
}

#topbar a {
	color: #990d35;
}

#topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 115px;
	background-color: #990d35;
	color: #fff8e8;
	display: flex;
}

#content {
	width: 35%;
	margin: 150px auto 0 auto;
}

#preview-btn {
	border: none;
	background-color: #990d35;
	color: #fff;
	width: 80%;
	height: 30px;
	border-radius: 10px;
	cursor: pointer;
}

.black-top {
	background-color: #990d35;
	text-align: center;
	margin-bottom: 1cm;
}

.black-top a {
	color: white;
}

.bold, h2, b, h3 {
	font-family: Circular-Bold;
}

.light-weight {
	padding-top: 0.5cm;
	font-weight: 100;
}

.logo-h {
	padding-left: 1cm;
}

.no-type {
	list-style-type: none;
}

.logo-ul {
	display: inline-flex;
	text-align: center;
	padding-top: 1cm;
}

.no-type li {
	margin-left: 1cm;
	background-color: #fff;
	color: #990d35;
}

.no-type li, .black-top {
	height: 40px;
	width: 140px;
	border-radius: 10px;
	transition: 0.3s;
}

.no-type li:hover {
	background-color: #fcd581;
}

.center-items {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.top-margin, .black-top a {
	vertical-align: -11px;
}


.black-a {
	color: #000;
	transition: 0.3s;
}

.black-a:hover {
	color: #990d35;
}

.resolution {
	width: 700px;
	border-radius: 60px;
}

.price {
	color: rgb(39, 134, 100);
}

.not-buy {
	color: darkred;
}

.no-type-li {
	list-style-type: none;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	height: auto;
	text-align: center;
	border-radius: 20px;
}

.preview {
	width: 80%;
	border-radius: 10px;
}